@import "../../assets/styles/colors.scss";

.search-section {
 display: flex;
 flex-direction: column;
  

  button:not(.ant-modal-close) {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    border-radius: 0px 60px 60px 0px !important;
    height: 51px;
    width: 200px;
  }
  button:hover:not(.ant-modal-close) {
    background-color: $hover-color !important;
    border-color: $hover-color !important;
  }
  button:focus:not(.ant-modal-close) {
    background-color: $hover-color !important;
    border-color: $hover-color !important;
  }
  input {
    border-radius: 60px 0px 0px 60px;
    padding: 12px 20px;
  }

  
  input:focus {
    border-color: $primary-color !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 74, 29, 0.247);
    box-shadow: 0 0 0 2px rgba(255, 74, 29, 0.247);
  }

  input:hover {
    border-color: $primary-color !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 74, 29, 0.247);
    box-shadow: 0 0 0 2px rgba(255, 74, 29, 0.247);
  }
  
  .search-input{
    z-index: 2;
  }

  .suggestion-box{
    background-color: #fff;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    margin-top: -20px;
    z-index: 1;
    padding-top: 30px;
    color: rgb(158, 158, 158);
    letter-spacing: normal;

    ul{
      list-style-type: none;
      cursor: pointer;
      li{
        margin-top: 10px;
        text-transform: capitalize;
        padding: 10px 3px;
      }

      li:hover{
        background-color: rgba(0, 0, 0, 0.041);
      }
    }
  }

}
