@import "../../assets/styles/colors.scss";

.nav-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

  .nav-link__item {
    padding: 20px 0px 30px 20px;
    a {
      color: #757b8e;
      font-size: 18px;
      vertical-align: -webkit-baseline-middle;
      padding: 0px 20px;
    }
  }
  .logo-section {
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: row;
    .logo {
      @media screen and (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
      width: 50px;
      height: 50px;
    }
    .logo-txt {
      font-weight: bolder;
      font-size: 30px;
      padding-left: 10px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    .logo-name-1 {
    }
    .logo-name-2 {
      color: $primary-color;
    }
  }
}
