$primary-color: #FE5734;
$secondary-color: #ECF9FC;
$tertiary-color: #757B8E;
$quaternary-color: #FFEAE6;
$success-color: #00BA88;
$warning-color: #FFCA00;
$danger-color: #FF5B5C;
$info-color: #00B5E2;
$light-color: #F5F7FA;
$hover-color: #f83e19;
